---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Royal Escapes" />

<main>
  <div>
    <p class="quote">
      Step into our escape room and delve into the enigmatic world of Danish royalty. With ghostly figures and riddles
      at every turn, you'll have to unlock the secrets hidden within. Are you prepared to unravel the mysteries and
      uncover the truth? Come and experience the intrigue for yourself.
    </p>
    <div class="inline">
      <img src="/assets/coin.svg" alt="My Image" class="scroll-image rotate-image" />
    </div>
    <div class="inline">
      <img src="/assets/crown.svg" alt="My Image" class="scroll-image2 rotate-image" />
    </div>
    <div class="inline">
      <img src="/assets/skull.svg" alt="My Image" class="scroll-image3 rotate-image" />
    </div>
    <div class="inline">
      <img src="/assets/chess.svg" alt="My Image" class="scroll-image4 rotate-image" />
    </div>
  </div>

  <div class="video-frame">
    <div class="video">
      <iframe
        width="1050px"
        height="640px"
        src="https://www.youtube.com/embed/ZlkySP1PwsA"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
      <div class="image-overlay">
        <img src="/assets/videoframe.webp" alt="videoframe" />
      </div>
    </div>
  </div>
</main>

<div id="cards-section">
  <h2>Variations</h2>
  <div class="cards">
    <div class="card">
      <img src="/assets/Cabinet.png" alt="Product Image" class="card-image" />
      <div class="card-body">
        <p class="card-text">
          Is the Queen really who she claims to be? Should someone else be sitting in her throne? Should it be you?
          Solve the mystery that has been kept a secret for generations and take the throne and the crown jewels before
          time runs out and the guards return.
        </p>
        <a href="https://www.royalescapes.dk/en/the-escape-rooms/the-royal-mystery" target="_blank">
          <button class="card-button">Buy now</button>
        </a>
      </div>
    </div>
    <div class="card">
      <img src="/assets/Dungeon.png" alt="Product Image" class="card-image" />
      <div class="card-body">
        <p class="card-text">
          In a botched attempt to steal the crown jewels and prove you are the rightful heirs to the throne you are now
          being held in the dungeon for eternity. Can you solve the clues other inmates have left for you and escape
          while the guards take a break?
        </p>
        <a href="https://www.royalescapes.dk/en/the-escape-rooms/the-royal-dungeon-eng" target="_blank">
          <button class="card-button">Buy now</button>
        </a>
      </div>
    </div>
    <div class="card">
      <img src="/assets/Playroom.png" alt="Product Image" class="card-image" />
      <div class="card-body">
        <p class="card-text">
          For more than a 100 years this room was used by kings and queens to be when they were still children. But one
          king to be was robbed off his fate and has haunted the playroom ever since.
        </p>
        <br />
        <br />
        <br />
        <a href="https://www.royalescapes.dk/en/the-escape-rooms/the-royal-playroom-eng" target="_blank">
          <button class="card-button">Buy now</button>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="footer"><p>*** Dette er et skoleprojekt ***</p></div>
<script src="../scripts/scroll.js"></script>
<script src="../scripts/scrollcard.js"></script>

<style>
  @font-face {
    font-family: "dosis";
    src: url("../fonts/Dosis-VariableFont_wght.ttf") format("ttf");
  }
  @import url("https://fonts.googleapis.com/css2?family=Kodchasan:wght@700&display=swap");
  * {
    padding: 0;
    margin: 0;
  }

  main {
    padding: 0;
    margin-left: 0;
    display: grid;
    justify-items: center;
    align-items: center;
  }

  .footer {
    bottom: 0;
    height: 20px;
    width: 100%;
    position: fixed;
    background-color: rgb(239, 85, 85);
  }

  .footer p {
    text-align: center;
    text-transform: uppercase;
    color: white;
  }

  .quote {
    text-align: center;
    display: flex;
    align-items: center;
    width: 65ch;
    height: 70vh;
    margin: 0 auto;
    font-weight: regular;
    font-size: 34px;
    line-height: 2;
    color: lightgray;
    font-family: "Open Sans", sans-serif;
  }

  h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    /*font-family: "Open Sans", sans-serif;*/
    font-family: "dosis";
    font-weight: lighter;
    font-size: 68px;
    color: lightgray;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-top: 2em;
  }

  p {
    font-family: "Open Sans", sans-serif;
  }

  .scroll-image {
    position: relative;
    left: 90px;
    top: -500px;
    transition: top 4s ease-in-out;
    opacity: 40%;
    z-index: 4;
  }

  .scroll-image2 {
    position: relative;
    left: 220px;
    top: -500px;
    transition: top 3s ease-in-out;
    opacity: 40%;
    scale: 1.4;
    z-index: 4;
  }

  .scroll-image3 {
    position: relative;
    left: 400px;
    top: -550px;
    transition: top 3s ease-in-out;
    opacity: 40%;
    z-index: 4;
  }

  .scroll-image4 {
    position: relative;
    left: 600px;
    top: -500px;
    transition: top 4s ease-in-out;
    opacity: 40%;
    z-index: 4;
  }

  .scroll-image:hover {
    opacity: 60%;
  }

  .scroll-image.active {
    top: -100px;
    /* change this value to adjust the distance the image moves */
  }

  .scroll-image2:hover {
    opacity: 60%;
  }

  .scroll-image2.active {
    top: -50px;
    /* change this value to adjust the distance the image moves */
  }

  .scroll-image3:hover {
    opacity: 60%;
  }

  .scroll-image3.active {
    top: -100px;
    /* change this value to adjust the distance the image moves */
  }

  .scroll-image4:hover {
    opacity: 60%;
  }

  .scroll-image4.active {
    top: -150px;
    /* change this value to adjust the distance the image moves */
  }

  .rotate-image {
    animation: rotate 30s linear infinite;
  }

  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }

  .video-frame {
    position: relative;
    width: 1050px;
    height: 640px;
    margin: auto;
  }

  .video {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .video iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 85%;
    height: 85%;
    border: none;
    transform: translate(-50%, -50%);
  }

  .image-overlay {
    position: absolute;
    top: -175px;
    left: -100px;
    width: 1250px;
    height: 920px;
    pointer-events: none;
  }

  .image-overlay img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .inline {
    display: inline;
  }
  #cards-section {
    overflow: hidden;
    height: 750px;
  }
  .cards {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    margin: 0 auto;
    opacity: 0;
  }

  .card {
    width: 300px;
    height: 500px;
    margin: 0 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 60px;
    padding-top: 50px;
  }

  .card-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-bottom: 5px;
    filter: invert(100%);
  }

  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }

  .card-title {
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .card-text {
    color: #d1d1d1;
    font-size: 16px;
    text-align: center;
    margin-bottom: 20px;
  }

  .card-button {
    background-color: white;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease-in-out;
  }

  .card-button:hover {
    background-color: #ef9786;
  }

  @keyframes cardPopUp {
    0% {
      transform: translateY(70%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  /* Apply the animation to the cards section when it's scrolled to */
  .cards.show {
    opacity: 1;
    animation: cardPopUp 1.5s ease-out forwards;
  }
</style>
