---
import Menu from "./Menu.astro";
---

<header>
  <div class="column1">
    <img class="logo" src="../public/assets/RE-logo.png" alt="logo" />
  </div>

  <div class="column3">
    <Menu />
  </div>

  <div class="arrow-button"><img src="../assets/Arrow.webp" alt="" /></div>
</header>
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<lottie-player
  src="../public/HTA.json"
  background="transparent"
  speed="1"
  style="width: 1000px; height: 900px;"
  autoplay></lottie-player>
<script src="../scripts/arrow.js"></script>
<style>
  header {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    width: 95%;
    height: 780px;
    background: url("../public/assets/headerbg.png") no-repeat center center;
    background-size: cover;
    border-radius: 2rem;
  }

  lottie-player {
    position: absolute;
    margin: 0;
    padding: 0;
    left: auto;
    top: 10%;
    pointer-events: none;
  }

  .column1 {
    max-width: 100%;
    text-align: left;
  }
  img {
    max-width: 150px;
  }
  .column2 {
    max-width: 100%;
    text-align: center;
  }
  .column3 {
    max-width: 100%;
    align-items: right;
  }
  .arrow-button {
    position: absolute;
    top: 92%;
    left: 50%;
    width: 50px;
    height: 50px;
    margin-top: -25px; /* half of the height */
    margin-left: -25px; /* half of the width */
    border: none;
    outline: none;
    /* background-color: white; */
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    animation: move-up-down 2s ease-in-out infinite;
    scale: 0.5;
  }

  .logo {
    filter: invert(100%);
  }

  @keyframes move-up-down {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
    100% {
      transform: translateY(0);
    }
  }

  .arrow-button:hover {
    transform: scale(1.2);
  }
</style>
