---
---

<button id="burger-menu">
  Menu
  <span></span>
</button>

<nav id="menu">
      <ul>
    <li><a href="https://royalescapes.dk/en/"> royalescapes.com </a></li>
  </ul>
   <br> </br>
  <p> Our escape rooms are newly renovated and are located in the heart of Copenhagen.</p>
  <p> We make an effort in keeping the price low and the experience unforgettable.</p>
  <p>You will also be able to have a drink and snacks before and after a game.</p>
     <br> </br>
  <p> Royal Escapes, København K, </p>
  <p> Fredericiagade 30, 1310 København </p>
     <br> </br>
  <p > TLF: +45 60 89 66 20 </p>
  <p> MAIL: info@royalescapes.dk </p>

  
</nav>
<script src="../scripts/menu.js"></script>
<style>
  #burger-menu {
    text-indent: -9999px;
    display: none;
    border: none;
    background: transparent;
    margin: 25px;
    cursor: pointer;
    height: 27px;
    width: 27px;
    position: relative;
    z-index: 2;
  }

  #burger-menu {
    display: block;
  }
  #burger-menu span,
  #burger-menu span:before,
  #burger-menu span:after {
    background: rgb(255, 255, 255);
    display: block;
    height: 3px;
    opacity: 1;
    position: absolute;
    transition: 0.3s ease-in-out;
    content: "";
  }

 p {
  color: #D3D3D3;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
}
  #burger-menu span:before {
    left: 0px;
    top: -10px;
    width: 27px;
  }
  #burger-menu span {
    right: 0px;
    top: 13px;
    width: 27px;
  }
  #burger-menu span:after {
    left: 0px;
    top: 10px;
    width: 27px;
  }
  #burger-menu.close span:before {
    top: 0px;
    transform: rotate(90deg);
    width: 27px;
    background: #fff;
  }
  #burger-menu.close span {
    transform: rotate(-45deg);
    top: 13px;
    width: 27px;
    background: #fff;
  }
  #burger-menu.close span:after {
    top: 0px;
    left: 0;
    transform: rotate(90deg);
    opacity: 0;
    width: 0;
    background: #fff;
  }
  #menu {
    z-index: 1;
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 0;
    visibility: hidden;
    opacity: 0;
    text-align: center;
    padding-top: 20px;
    transition: all 0.3s ease-in-out;
  }
  #menu.overlay {
    visibility: visible;
    opacity: 1;
    padding-top: 100px;
    background: rgba(0, 0, 0, 0.8);
  }
  #menu ul {
    padding: 0;
  }
  #menu li {
    list-style: none;
    display: initial;
  }
  #menu a {
    text-transform: uppercase;
    color: #fff;
    display: block;
    font-size: 32px;
    margin-bottom: 30px;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
  }
  #menu a:hover {
    text-decoration: underline;
  }
</style>
